<nav class="navbar">
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/aboutus2">About Us</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
