<!DOCTYPE html>
<html>
<head>
<title>coding tutorials </title>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  /*background: url('https://static.vecteezy.com/system/resources/previews/024/689/019/non_2x/programming-code-coding-or-hacker-background-programming-code-icon-made-with-binary-code-virtual-tunnel-warp-made-with-digital-code-data-flow-illustration-vector.jpg') no-repeat;
  background-size: cover;*/
}

/* header */
.header
{
padding: 80px;

margin:0px;
background: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52393.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1719705600&semt=ais_user') repeat center ;
background size :cover ;
width:100%;
text-align: center;
}
/* h1 */
.header h1 {
  font-size: 40px;
  color:aliceblue;
}

/*navigation bar */
.navbar {
  overflow: hidden;
  background:black;
  
}

/*navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: rgb(249, 248, 248);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/*nav hover */
.navbar a:hover {
  background-color: #ddd;
  color:antiquewhite;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/*left column */
.side {
  flex: 90%;
  background-color:rgb(255, 255, 255);
  padding-left: 50px;
  
}

/* Main column */
.main {   
  flex: 60%;
  background-color: white;

  padding: 18px;
}

img {
  background-color: black;
  padding: 0px;
  margin:0;
  size: 100px;
  width: 100%;
  hieght:50%;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgb(0, 0, 0);
  color:aliceblue;
 
}

</style>
</head>
<body>


<div class="header"><h1>Welcome to coding tutorials </h1></div>

<div class="navbar">
  <a href="/aboutus2">About Us</a>
  <a href="/login">Login</a>
  <a href="/gallery">Gallery</a>
  <a href="/contact" class="right">Contact Us</a>
</div>

<div class="row">
  <div class="main">
    <h2>About Us</h2>
    <p>our ultimate resource for learning and mastering coding skills.</p>
    <p>Learn the fundamentals of web development with our comprehensive HTML and CSS tutorials.</p>
    <p>Build practical projects to apply your coding skills and create impressive portfolio pieces</p>
    <div><img src="https://e1.pxfuel.com/desktop-wallpaper/375/877/desktop-wallpaper-keep-calm-coder-programming-quote-javascript-black-dark-%E2%80%A2-for-you-programme-quote.jpg"></div>
  </div>
  <div class="side">
    <h2>Make Your Dream True</h2>
    <p>Your nearest step is waiting for you.</p><br>
    <h3>Start Your Membership</h3>
    <p>Premium people are always ahead of rest of the crowd wishfully living in peace.</p>
    <h3>Enjoy Your New Home</h3>
    <p>Simple steps and your dream home opens for you.</p>
  </div>
</div>

<div class="footer">
  <h3>limited offers avail before 15TH JUNE</h3>
  <p>Copyright @YashikaBhandari </p>
</div>

</body>
</html>