<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>
    body {
    font-family: Arial, sans-serif;
    background:url('https://images.freecreatives.com/wp-content/uploads/2016/04/Solid-Black-Website-Background.jpg') no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.1);
    width: 500px;
}
form h2 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #333;
}
input[type="text"],
input[type="password"],
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}


</style>
<body>

    <!--name of action and file name should be same --->
    <div class="container">

    <form action="/signup" method="post">
    <h2> SIGN UP</h2>

    <br>
    <input type ="text" name ="name" placeholder="Name">
    <br><br>
    <input type ="password" name ="password" placeholder="Password">
    <br><br>
    <input type="submit">
    </form>
    </div>
</body>
</html>